<div class="row">
  <li class="nav-item">
    <a class="nav-link " style="cursor: pointer;" (click)="_location.back()"><i class="fa-solid fa-arrow-left"></i> Retour </a>
  </li>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">
          <h2>
            {{ action === "view" ? "Fiche du Quartier" : "" }}
            {{ action === "edit" ? "Modification du Quartier" : "" }}
            {{ action === "view" || action === "edit" ? NomQuartier : "" }}
            {{ !action ? "  Créer un Quartier" : "" }}
          </h2>
        </h3>

        <p></p>
        <form
          #quartierForm="ngForm"
          (ngSubmit)="onSubmitForm(quartierForm)"
          class="row g-3 needs-validation"
        >
          <div class="col-md-4">
            <label for="exampleDataList" class="form-label">Departement</label>

            <select
              class="text-capitalize form-select select-box form-control hauteur"
              [(ngModel)]="IDDEPARTEMENT"
              name="IDDEPARTEMENT"
              (change)="onSelectionChange($event)"
              required=""
            >
              <option value="" disabled>-- selectionner ici --</option>
              <option
                *ngFor="let option of departementList"
                [value]="option.IDDEPARTEMENT"
              >
                {{ option.NomDepartement }}
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="exampleDataList" class="form-label">
              ARRONDISSEMENT</label
            >

            <select
              class="text-capitalize form-select select-box form-control hauteur"
              [(ngModel)]="IDARRONDISSEMENT"
              name="IDARRONDISSEMENT"
              required=""
            >
              <option value="" disabled>-- selectionner ici --</option>
              <option
                *ngFor="let option of arrondissementList"
                [value]="option.IDARRONDISSEMENT"
              >
                {{ option.NomArron }}
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="validationCustom02" class="form-label"
              >Nom du Quartier</label
            >
            <input
              [readonly]="action == 'view'"
              type="text"
              class="form-control hauteur"
              name="NomQuartier"
              [(ngModel)]="NomQuartier"
              required=""
            />
          </div>
          <div class="col-12" *ngIf="action !== 'view'">
            <button
              [disabled]="isFormValid()"
              style="width: 30em"
              type="submit"
              class="btn btn-primary"
              *ngIf="!isLoading; else loading" 
            >
              {{ action === "edit" ? "Modifier" : "Créer" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="fa-3x text-start mb-2 mt-2">
    <span class="fs-5 mb-2 mt-2">Création du quartier en cours !!!</span> <br><br>
    <i class="fas text-primary spinner-grow"></i><br />
  </div>
</ng-template>
