<div>
  <li class="nav-item">
    <a class="nav-link " style="cursor: pointer;" (click)="_location.back()"><i class="fa-solid fa-arrow-left"></i> Retour </a>
  </li>
    <div class="d-flex justify-content-center align-items-center h-100">
        <form #primeForm="ngForm" class="shadow px-2" (ngSubmit)="onSubmitForm(primeForm)" >
            <h2 class="text-center mb-3 pt-2 d-flex justify-content-center">
              <div class="w-75 text-center">Création de la Retenue</div>
            </h2>
            <div>
                <div class="row">
                  <div class="mb-3 col-12 col-sm-6">
                    <label for="" class="text-center">Numéro d'Ordre</label>
                    <div class="d-flex align-items-center">
                     
                      <input
                      [readonly]="action == 'view'"  type="text"  name="NumOrdre" [(ngModel)]="NumOrdre"
                        class="form-control shadow text-center text-uppercase"
                       
                      />
                    </div>
                  </div>
    
                  <div class="mb-3 col-12 col-sm-6">
                    <label for="" class="text-center">Libelle Retenue</label>
                    <div class="d-flex align-items-center">
                     
                      <input 
                      [readonly]="action == 'view'"  type="text"  name="LibelleRetenue" [(ngModel)]="LibelleRetenue" required="" 
                      class="form-control shadow text-center text-uppercase"
                        
                      />
                    </div>
                  </div>
    
                  <div class="mb-3 col-12 col-sm-6">
                  <div class="ms-2 form-check">
                    <input  [readonly]="action == 'view'" name="bDeductibleBaseImposable" [(ngModel)]="bDeductibleBaseImposable"  class="form-check-input" type="checkbox"  id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                        Deductible Base Imposable
                    </label>
                  </div></div>
    
                  <div class="mb-3 col-12 col-sm-6">
                    <div class="ms-2 form-check">
                      <input  [readonly]="action == 'view'" name="bEstCNSS" [(ngModel)]="bEstCNSS"  class="form-check-input" type="checkbox"  id="flexCheckChecked" >
                      <label class="form-check-label" for="flexCheckChecked">
                        Est CNSS
                      </label>
                    </div></div>


                  
                  <div class="mb-3 col-12 col-sm-6">
                    <label for="" class="text-center">Formule de Calcul</label>
                    <div class="d-flex align-items-center">
                    
                      <input 
                      [readonly]="action == 'view'"  type="text"  name="FormuleCalcul" [(ngModel)]="FormuleCalcul"
                      class="form-control shadow text-center text-uppercase"
                        
                      />
                    </div>
                  </div>
    
                </div>
    
    
                <div class="row mt-2">
                    <div  class="mb-3 col-12 text-center">
      
                     <button [disabled]="isFormValid()" *ngIf="action !== 'view'" type="submit" class="btn bg-primary text-light w-100 shadow p-2">
                            {{ action === 'edit' ? 'Modifier' : 'Ajouter' }}
                    </button>
      
                    </div>
      
                </div>
                
             
            </div>
        </form>    
    </div>
    
    </div>
    
    <ng-template #loader>
        <div class="fa-3x">
            <i class="fas fa-circle-notch text-success fa-spin"></i>
          </div>
    </ng-template>