<div><div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center" style="width: 20em">
            <h2 class="">
              {{ action === "view" ? "Fiche de la nationalite" : "" }}
              {{ action === "edit" ? "Modifier la nationalité" : "" }}
              {{ action === "view" || action === "edit" ? Nationalite : "" }}
              {{ !action ? "Nouvelle nationalite" : "" }}
            </h2>
          </h3>

          <p></p>
          <form
            #zoneForm="ngForm"
            (ngSubmit)="onSubmitretenue(zoneForm)"
            class="m-auto"
            style="width: 45%"
          >
            <div class="">
              <label for="validationCustom02" class="form-label">
                Nationalite</label
              >
              <input
                [readonly]="action == 'view'"
                type="text"
                class="form-control hauteur"
                name="Nationalite"
                [(ngModel)]="Nationalite"
                required=""
              />
            </div>

            <div class="mt-3" *ngIf="action != 'view'">
              <button
                *ngIf="!isLoading; else loading"
                type="submit"
                class="btn form-control btn-primary"
              >
                {{ action === "edit" ? "Modifier " : "Valider" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <ng-template #loading>
    <div class="fa-3x text-start mb-2 mt-2">
      <span class="fs-5">{{message}}</span>
      <br /><br />
      <i class="fas text-primary spinner-grow"></i><br />
    </div>
  </ng-template>
