table {
  width: 100%;
  // border: 1px solid #5b5b5b64;
}

.mat-elevation-z8{
  background-color: white;

  th, mat-header-cell{
      background-color: #7888fc;
      color: white;


  }
  tr, mat-header-cell{
      height: 2em;
  }
  td{
    height: 30px;
}

}

mat-form-field{
  margin-top: 25px;
  height: 60px;
}

.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.color{
  color: #7888fc;
}

.largeur{
  width: 15em;
  margin: .2em;
}

